.wrapper
    #copyright
        .fl_left Copyright © 2011-2017 - Munich NodeJS User Group [MNUG]
        .fl_right Template based on
            a(href="http://www.os-templates.com/", title="Free Website Templates") OS Templates
center
    .sponsors
        h3 Our sponsors
        center
            a(href='http://www.tngtech.com', target="_blank"): img(src="/assets/images/sponsors/tng-logo.jpg")
