.wrapper
    #header
        center
            img(src='/assets/images/mnug.png', style='margin-top: 20px')
.wrapper
    #topbar
        .fl_left
.wrapper
    #topnav
        ul(class='nav')
            for nav, slug in public._data.nav
                if slug
                    li: a(href="/#{ slug }.html")= nav.title
                else
                    li: a(href="/")= nav.title