h2 Next Meetups

p Coming soon...
// a(href="http://www.meetup.com/Munich-Node-js-User-Group/events/229193488/") JavaScript User Group Summit, March 10, 2016 @MNUG 
h2 Upcoming Meetups
p Coming soon...

h2 MNUG Meetup Group
p Join our Meetup Group for upcoming meetups: <a target="_blank" href="http://www.meetup.com/Munich-Node-js-User-Group/">MNUG</a>

h2 Follow us!
p On twitter: <a target="_blank" href="https://twitter.com/#!/munichnug">@munichnug</a> with hashtag #munichnug

h2 Mail us!
p <a target="_blank" href="mailto:team@mnug.de">team@mnug.de</a>

img(width="200px", height="200px", src="/assets/images/bavarianjs_small.jpg")
