h2 Next Meetups

//p Coming soon...
//a(href="/next_meetup.html") June 22, 2017 @MNUG 
//a(href="https://www.meetup.com/Nodeschool-Munich/events/236819959/?eventId=236819959") Nodeschool, January 21, 2016 @NodeSchoolMuc 
//a(href="http://www.munichjs.org/meetups/?event_id=67") Feburary 9, 2017 @MunichJS
//p Coming soon...
a(href="http://jscraftcamp.org/") July 21+22, 2017 @JSCraftCamp
h2 Upcoming Meetups
//a(href="http://jscraftcamp.org/") October 8+9, 2016 @JSCraftCamp
p Coming soon...
//a(href="http://jscraftcamp.org/") July 21+22, 2017 @JSCraftCamp
//p Save the date: June 22, 2017 @MNUG

h2 MNUG Meetup Group
p Join our Meetup Group for upcoming meetups: <a target="_blank" href="http://www.meetup.com/Munich-Node-js-User-Group/">MNUG</a>

h2 Follow us!
p On twitter: <a target="_blank" href="https://twitter.com/#!/munichnug">@munichnug</a> with hashtag #munichnug

h2 Mail us!
p <a target="_blank" href="mailto:team@mnug.de">team@mnug.de</a>

img(width="200px", height="200px", src="/assets/images/bavarianjs_small.jpg")
