<h1>Meetup: 1. December 2011</h1>

<p>
    On 1. December 2011 we would like to invite you to the first community meetup of the Munich Node.JS User Group.
    Please sign up for a <strong>free ticket</strong> on Eventbrite to give us a hint how many folks are comming!
</p>

<p>
    &ndash; <a href="http://mnug.eventbrite.com">Get a free ticket now!</a>
</p>


<h2>What?</h2>
<p>
    On 1. December we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
        <p>
            We start with a come together and prepare ourselfes for a long evening....
        </p>
    </li>
    <li>
        <strong>19:30: Node.JS introduction & best practices</strong><br />
        <em>by <a href="/speakers.html#felixg">Felix Geisendörfer</a></em>
        <p>
           This talk will explore an opinionated collection of
style, conventions and patterns for writing clean and functional node.js
applications. Be prepared to bring your own opinions for the ensuing debate
afterwards. 
        </p>
	<b>Videos:</b>
        <p>
	   <a href="http://video.tngtech.com/veranstaltungen/2011/MNUG/MNUG_2011-12-01_Felix_Node_Practical_Introduction.html">Node Practical Introduction</a>
	<br>
	   <a href="http://video.tngtech.com/veranstaltungen/2011/MNUG/MNUG_2011-12-01_Felix_Node_Best_Practices.html">Best Practices</a>

        </p>
	<b>Slides:</b>
        <p>
	   <a href="http://felixge.de/speaking">Felix slides</a>
	<br>
    </li>
    <li>
        <strong>21:00: NPM: The Node.JS package manager</strong><br />
        <em>by <a href="/speakers.html#robertk">Robert Kuzelj</a></em>

        <p>
&ndash; install & usage<br/>
 &nbsp;&nbsp;&nbsp;&ndash; local vs global installs<br/>
 &nbsp;&nbsp;&nbsp;&ndash; update<br/>
 &nbsp;&nbsp;&nbsp;&ndash; help, find and list<br/>
&ndash; create your own package<br/>
 &nbsp;&nbsp;&nbsp;&ndash; package.json<br/>
 &nbsp;&nbsp;&nbsp;&ndash; publish<br/>
 &nbsp;&nbsp;&nbsp;&ndash; managing dependencies<br/>
 &nbsp;&nbsp;&nbsp;&ndash; (pre/post) installation scripts<br/>
        </p>
	<b>Video:</b>
        <p>
	   <a href="http://video.tngtech.com/veranstaltungen/2011/MNUG/MNUG_2011-12-01_Robert_Node_Package_Manager.html">Node Package Manager</a>
        </p>
    </li>
    <li>
        <strong>22:00: Close down of first MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
        <p>
			be prepared for a group photo
        </p>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 7:30pm (the early bird catches the chair! ;) Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


