<h1>Meetup: 11th October 2012</h1>

<p>
    On 11th October 2012 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 11. October 2012 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Grunt.js: The Node build tool</strong><br />
        <em>by <a href="/speakers.html#davida">David Amend</a></em>
        <p>
            You see people blogging about about grunt.js. What are the benefits of a node build tool compared to your existing one? See how easy it can be to improve your continous integration process for web applications with grunt.js.
        </p>
    </li>
    <li>
        <strong>21:00: CoffeeScript: Who is afraid of the whitespaces?</strong><br />
        <em>by <a href="/speakers.html#robertk">Robert Kuzelj</a></em>
        <p>
		 A unusual introduction to CoffeeScript, whitespaces, classes and other scary things. This presentation will only cover very few code examples of CoffeeScript but I will give the audience lots of insight of how humans perceive the world. The audience will learn how humans react to structure, how we perceive "negative space" (whitespaces being one instance to it) and "symbols", and how we model the world. I will give a amusing presentation on the psychology and philosophy of programming and programming languages. 
        </p>
    </li>
    <li>
        <strong>22:45: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


