<h1>Meetup: 9. February 2012</h1>

<p>
    On 9. February 2012 we would like to invite you to our second community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 9. February 2012 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
        <p>
            We start with a come together and prepare ourselfes for a long evening....
        </p>
    </li>
    <li>
        <strong>20:00: SmileyReport - Web application development with Node.JS</strong><br />
        <em>by <a href="/speakers.html#christophs">Christoph Stock</a></em>
	<br>
        <em>and <a href="/speakers.html#stefank">Stefan Kirsch</a></em>
        <p>
          This talk will introduce <a href="http://smileyreport.herokuapp.com/">SmileyReport</a> an application hosted on Heroku. The application is written with Express.js and uses MongoDB as it's NOSQL backend.
        </p>
    </li>
    <li>
        <strong>21:30: Node.js at Pro7</strong><br />
        <em>by <a href="/speakers#maximilians">Maximilian Schweitzer</a></em>
        <p>
	  A real world Node.js project.
        </p>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 7:30pm (the early bird catches the chair! ;) Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


