<h1>Meetup: 14th June 2012</h1>

<p>
    On 14th June 2012 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
    Please sign up for a <strong>free ticket</strong> on Eventbrite to give us a hint how many folks are comming!
</p>

<p>
    &ndash; <a href="http://www.eventbrite.com/event/3634324362">Get a free ticket now!</a>
</p>

<h2>What?</h2>
<p>
    On 14. June 2012 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Node.js Live Hacking and the Node.js Scalability Myth</strong><br />
        <em>by <a href="/speakers.html#felixg">Felix Geisend&ouml;rfer</a></em>
        <p>
            Felix will do some live hacking by creating an image resizing server. Additionally he will talk about the "Node.js Scalability Myth".
        </p>
	<b>Video:</b>
		<a href="http://video.tngtech.com/veranstaltungen/2012/MNUG/">Node.js Scalability Myth</a>
    </li>
    <li>
        <strong>21:45: The Realtime Web</strong><br />
        <em>by <a href="/speakers.html#arnoutk">Arnout Kazemier</a></em>
        <p>
            Arnout will introduce <a href="http://www.socket.io">Socket.io</a> and show some use cases and applications. With <a href="http://www.observe.it">Observe.it</a> Arnout won the <a href="http://nodeknockout.com/">2011 Node Knockout</a> in the category "overall solo".
        </p>
	<b>Video:</b>
		<a href="http://video.tngtech.com/veranstaltungen/2012/MNUG/">Socket.io - Realtime Web</a>
    </li>
    <li>
        <strong>22:45: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


