<h1>Meetup: 13th December 2012</h1>

<p>
    On 13th December 2012 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 13. December 2012 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Connect and Express</strong><br />
        <em>by <a href="/speakers.html#golor">Golo Roden</a></em>
        <p>
            What are Connect and Express and how do they stick together? How can you integrate a templating engine like Jade, Stylus and more? How to optimize your CSS and Javascript with Express? (The talk will be in German)
        </p>
    </li>
    <li>
        <strong>21:45: Alamid</strong><br />
        <em>by <a href="/speakers.html#johannese">Johannes Ewald</a>, <a href="/speakers.html#michaelj">Michael Jaser</a> and <a href="/speakers.html#pault">Paul Torka</a> </em>
        <p>
		 Johannes and his team created <a href="http://alamidjs.com/">alamid</a>. Alamid is a node.js framework for JavaScript real-time applications. If your familiar with backbone.js, mongoose and express you will familiarize yourself with alamid quickly. (The talk will be in German)
        </p>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


