<h1>Meetup: 19th April 2012</h1>

<p>
    On 19th April 2012 we would like to invite you to our third community meetup of the Munich Node.JS User Group.
    Please sign up for a <strong>free ticket</strong> on Eventbrite to give us a hint how many folks are comming!
</p>

<p>
    &ndash; <a href="http://www.eventbrite.com/event/3347726139">Get a free ticket now!</a>
</p>


<h2>What?</h2>
<p>
    On 9. February 2012 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
        <p>
            We start with a come together and prepare ourselfes for a long evening....
        </p>
    </li>
    <li>
        <strong>19:45: How to escape callback hell and where to go from there</strong><br />
        <em>by <a href="/speakers.html#robertk">Robert Kuzelj</a></em>
        <p>
          A mens story about love & hate, good decoupled design and the the challenge to program evented systems while building your own asynchronous library.
        </p>
    </li>
    <li>
        <strong>20:30: Performance profiling in Node.js</strong><br />
        <em>by <a href="/speakers.html#dmitrim">Dmitri Melikyan</a></em>
        <p>
	  Today's applications rely on all types of external APIs, databases, services at the same time achieving real-time experience for their users. And Node.js is just perfect for this. But how to make sure that the app is fast and how to locate performance bottlenecks and regression? Where to start and what tools to use? I'll try to answer these questions along with a couple of demos.
        </p>
    </li>
    <li>
        <strong>21:30: OOP-Programmierung im Ext JS-Stil mit Node.js</strong><br />
        <em>by <a href="/speakers.html#aronh">Aron Homberg</a></em>
        <p>
	  Aron zeigt sein eigenes Projekt "Extify" (komplett OpenSource, Reimplementierung der OOP-Features von Ext JS 4 für jede JavaScript-Runtime-Umgebung und die Spezialisierung Extode, die z.B. einen Webserver und Webservices inkl. MVC-Pattern für Node.js im Stile von Ext JS 4 zeigt.
        </p>
    </li>
    <li>
        <strong>22:15: How to run Node.js applications with <a href="http://www.openshift.com">OpenShift</a></strong><br />
        <em>by <a href="/speakers.html#marekj">Marek Jelen</a></em>
        <p>
	  Marek, Cloud Evangelist from OpenShift (Red Hat), will introduce OpenShift and their lately deployed Node.js support.
        </p>
    </li>
    <li>
        <strong>22:45: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 7:45pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


