<h1>Meetup: 11th April 2013</h1>

<p>
    On 11th April 2013 we would like to invite you to our next community meetup of the Munich Node.JS User Group at <a href="http://www.tngtech.com/">TNG Technology</a>.
</p>

<h2>What?</h2>
<p>
    On 11th April 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: TDD for better code</strong><br />
        <em>by <a href="/speakers.html#wolframk">Wolfram Kriesing</a></em>
	<p>
TDD means test driven development. I will show you that this is just a mean to get to better code. And while you are at it doing it right, using tests, you get better code for free. I willl show you why and how your code becomes better by applying TDD right. But don't expect to walk away knowing how to do it right, this will just a ""getting you think"". The hard work is on you, to do it right and learn on the job. Or did you always believe everything that you were told, without verifying it yourself?
	</p>
	<p>
	<a href="http://de.slideshare.net/wolframkriesing/better-code-through-tdd">Slides</a>
	</p>
    </li>
    <li>
        <strong>21:30 Lightning talks</strong><br />
		<ul>
			<li><em>Marcin Warpechowski</em> - Introduction to JSON Patch - <a href="http://www.rvl.io/warpech/introduction-to-json-patch">Slides</a></li>
			<li><em>Johannes Ewald</em> - Introduction to <a href="https://github.com/jhnns/rewire">ReWire</a> - <a href="/talks/20130411-rewire/index.html">Slides</a></li>
			<li><em>Christine Koppelt</em> - Mozilla Perona with Node.js - <a href="/talks/20130411-persona/mnug-2013-04-11.pdf">Slides</a></li>
		</ul>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>

