<h1>Meetup: 13th June 2013</h1>

<p>
    On 13th June 2013 we would like to invite you to our next community meetup of the Munich Node.JS User Group at <a href="http://www.tngtech.com/">TNG Technology Consulting</a>.
    Please sign up on <a href="http://www.meetup.com/Munich-Node-js-User-Group/events/122334622/">Meetup</a> to give us a hint how many nodehackers are comming!
</p>
<p>
Please also check out our first full day Node.js beginner workshop at <a href="/meetups/june2013_workshop">Node.js Beginner Workshop</a> 15th June 2013!
</p>

<h2>What?</h2>
<p>
    On 13th June 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Vorstellung TypeScript</strong><br />
        <em>by <a href="/speakers#golor">Golo Roden</a></em>
	<p>
Am 1. Oktober 2012 hat Microsoft die neue Programmiersprache TypeScript vorgestellt. Sie ist zwar vollständig abwärtskompatibel zu JavaScript, liefert aber einige in JavaScript fehlende Bausteine wie ein statisches Typsystem, Klassen und Module nach.
	</p>
    </li>
    <li>
        <strong>21:00:  <a href="https://apollo.open-resource.org/lab:dspace">DSpace</a> - A federated social mapping toolkit</strong><br />
        <em>by <a href="/speakers">iggy & chrono</a></em>
	<p>
An introduction to the ideas and concepts of social mapping, assembled entirely on an open-source stack of modern web technologies like websockets and node.js and free/open data-providers like OpenStreetMap.
	</p>
        <p>
           <a href="https://apollo.open-resource.org/downloads/dspace-introduction.pdf">Slides</a>
        </p>
    </li>
    <li>
        <strong>21:45 Lightning talks</strong><br />
		<ul>
			<li><em>Christoph Neuroth</em> - Live coding for realtime data visualization based on node.js with <a href="https://github.com/c089/dashing-capybara">Dashing-Capybara</a>.</li>
			<li><em>Johannes Ewald, Michael Jaser</em> - <a href="https://github.com/meaku/FunctinoScript">FunctinoScript</a>, a meta language which converts all the typos into real code.</li>
			<li><em>Golo Roden</em> - Better testing with <a href="https://github.com/goloroden/cases">Cases</a> and <a href="https://github.com/goloroden/isolated">Isolated</a>.</li>
		</ul>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>

