<h1>Meetup: 12th December 2013</h1>

<p>
    On 12th December 2013 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 12. December 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: <a href="http://www.meteor.com/">Meteor.js</a> - Developing a Classroom Response System</strong><br />
        <em>by <a href="/speakers.html#ferberd">Dominik Ferber</a></em>
        <p>
We'll dive into application development with Meteor on the example of a Classroom Response System. The talk will introduce you to the basic concepts of this new environment, covering key parts in all aspects from writing your first line of code up to final deployment. <a href="http://www.youtube.com/watch?v=fDt1CNMEj9s">video</a> and <a href="http://dferber.de/blog/talk-mnug-update.html">slides</a>
        </p>
    </li>
    <li>
        <strong>20:45: How streams help to raise Node.js performance</strong><br />
        <em>by <a href="/speakers.html#golor">Golo Roden</a></em>
        <p>
	With Node.js it¹s dead-easy to compress and deliver a file to a client - given that this task does not involve gigabytes of data and thousands of clients. Anyway: What-if? Fortunately Node.js provides an exit: Instead of putting all the data into memory initially - just process them on-the-fly!  This way you can deliver your data while still reading and compressing them, all at the same time. This not only improves your application's memory footprint, but also lowers its response times. All of the magic is done within a straightforward module without any bling-bling, called "stream". And lots of developers use it in their everyday job, but know none of its details. It's time for a change. <a href="http://www.youtube.com/watch?v=QgEuZ52OZtU">video</a>
        </p>
    </li>
    <li>
        <strong>21:45 Lightning talks</strong><br />
                <ul>
                <li><em><a href="https://twitter.com/davidpfahler">David Pfahler</a></em> How to build large projects like <a href="http://bradypodion.io">bradypodion.io</a> with grunt.js <a href="http://www.youtube.com/watch?v=6ZuPhjIKQ6k">video</a></li>
                <li><em>Karl Pitrich</em>  Energy consumption awareness with Node.js</br>Three ways to measure energy consumption at home, plus a way to store and explore the collected data using RaspberryPi with Node.js and MongoDB. <a href="http://www.youtube.com/watch?v=eqKBCMSgHOA">video</a></li>
                <li><em>Felix Hammerl and Tankred Hase</em> from <a href="http://whiteout.io/">Whiteout.io</a> To Boldly Go Where No Man Has Gone Before - Porting Node Modules to Chrome</a>.</li>
                </ul>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


