<h1>Meetup: 21st February 2013</h1>

<p>
    On 21st February 2013 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
    Please sign up on <a href="http://www.meetup.com/Munich-Node-js-User-Group/events/102294762/">Meetup</a> to give us a hint how many nodehackers are comming!
</p>

<h2>What?</h2>
<p>
    On 21st February 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Clojurescript</strong><br />
        <em>by <a href="/speakers.html#alexp">Alex Petrov</a></em>
	<p>
	Functional languages are emerging right now. Who knows where it brings us in a year, 2, 5 years. It's worth learning a functional language or two just for sakes of learning new concepts, unlearn imperative programming style and know how to manipulate your data in a way that doesn't introduce side-effects that may potentially ruin application flow. It's particularly important in JavaScript environment, where many things are callback-based, and execution flow is hard to track. Treating data that flows through application using functional approach eases debugging and lowers maintenance overhead, and your developers can relax and enjoy their Franziskaner.
	</p>
    </li>
    <li>
        <strong>21:30: TBD</strong><br />
        <em>by <a href="/speakers.html#tdb">tbd</a></em>
	<p>
TBD
	</p>
    </li>
    <li>
        <strong>22:30: Nodecopter</strong><br />
        <em>by <a href="/speakers.html#christophs">Christoph Stock</a> and <a href="/speakers.html#stefank">Stefan Kirsch</a> </em>
        <p>
	Our MNUG speaker <a href="/speakers.html#felixg">Felix Geisend&ouml;rfer</a> started a new worldwide movement. Now you can program the Parrot Drone with javascript and node.js. Christoph and Stefan participated at the first <a href="http://nodecopter.com/">nodecopter</a> this year in Berlin. They will introduce their project <a href="https://github.com/kirschs/dronefromhome">DroneFromHome</a> and let the drone fly. (The talk will be in German)
        </p>
    </li>
    <li>
        <strong>23:00: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


