<h1>Meetup: 10th October 2013</h1>

<p>
    On 10th October 2013 we would like to invite you to our next community meetup of the Munich Node.JS User Group at <a href="http://www.montessori-muenchen.de">a new location</a>!
</p>

<h2>What?</h2>
<p>
    On 10th October 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00: Riak and Node.js: Best served with HTTP</strong><br />
        <em>by <a href="/speakers.html#philippf">Philipp Fehre</a></em>
	<p>
This talk will serve a quick overview of Riak concepts and basic usage, with a richer bite of Map/Reduce using JavaScript. Everything is nicely toped with code examples. <a href="http://www.youtube.com/watch?v=dVodbSUrwgM">video</a>
	</p>
    </li>
    <li>
        <strong>20:40: Let it die</strong><br />
        <em>by <a href="/speakers.html#christianr">Christian Ranz</a></em>
	<p>
This Talk is about keeping node.js applications up. There are several barriers to take. A lot of tools to use. But basically it is all about to let it die.</br>Here is the <a href="https://github.com/ranzwertig/talk-mnug-let-it-die">vbox</a> and the <a href="//ranzwertig.github.io/talk-mnug-let-it-die/#/">slides</a> and the <a href="http://www.youtube.com/watch?v=FcHFhUGmLQs">video</a>
	</p>
    </li>
    <li>
        <strong>21:20 Lightning talks</strong><br />
		<ul>
			<li><em>Christine Koppelt</em> <a href="http://www.docker.io">docker.io</a></li>
			<li><em>Axel B&ouml;ttcher</em> Time-critical hardware (pinball) control with node.js. <a href="http://www.youtube.com/watch?v=trVYeHhD-pM">video</a></li>
			<li><em>Anders Weijnitz</em> RounderDB - Monitoring with Node.js on the Raspberry Pi - Here on <a href="https://github.com/aweijnitz/RounderDB.js">github</a> and the <a href="http://mildly-interesting.info/slides/MUCNodeJsUG/10-Oct-2013-RounderDB.html">slides</a> and the <a href="http://www.youtube.com/watch?v=BbNBVIPHuk4">video</a>.</li>
		</ul>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>Integrative Montessori Volksschule</strong><br />
Balanstrasse 73<br/>
81541 München</br>
<strong>Entrance</strong></br>Claudius-Keller-Strasse next to the <a href="http://www.mediadesign.de/category/kategorie/standort-m%C3%BCnchen">MD.H</a></br>
<br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by U-Bahn: Karl-Preis-Platz (U2)<br />
   by Bus: Linie 145, Haltestelle Karl-Preis-Platz<br />
</p>

