<h1>Beginner Node.js Workshop: 15th June 2013</h1>

<p>
    On 15th June 2013 we would like to invite you to our first full day Node.js beginner workshop at <a href="http://www.tngtech.com/">TNG Technology Consulting</a> with your tutor and MNUG speaker <em><a href="/speakers#golor">Golo Roden</a></em>.
    Please sign up on <a href="http://www.meetup.com/Munich-Node-js-User-Group/events/122334772/">Meetup</a> to give us a hint how many future nodehackers are comming!
</p>
<img src="../../downloads/20130615_workshop.JPG" width="545px" height="265px"/>

<h2>What?</h2>
<p>
Kaum eine Programmiersprache hat in den vergangenen 15 Jahren dermaßen Karriere gemacht wie JavaScript: Was 1995 als einfache, aber exotische Skriptsprache für die clientseitige Interaktion auf Webseiten begann, treibt heute sämtliche großen, modernen Webseiten wie Facebook, Twitter und Co. an. Und auch auf dem Desktop und mobilen Geräten findet JavaScript zunehmend Einzug. Was liegt also näher, als JavaScript auch serverseitig zu nutzen? In diesem Workshop lernen Sie das (vermutlich) "nächste große Ding" kennen, wenn es um skalierbare, hochperformante und echtzeitfähige Webanwendungen geht.
</p>
<p>
Um an dem Workshop teilnehmen zu können brauchst Du einen eigenen Laptop mit aktueller Version <a href="https://www.virtualbox.org/">VirtualBox</a>. Hier findest Du das <a href="https://www.dropbox.com/s/14fxjr4noey1yux/nodejs.zip">VirtualBox-Image</a> für den Workshop. Username und Passwort ist "nodejs", was sonst ;)
</p>

<p>
    On 15th June 2013 we have the following schedule:
</p>
<ul>
    <li>
        <strong>09:30: Begin of admission</strong><br />
    </li>
    <li>
        <strong>10:00: Begin of workshop</strong><br />
        <em>by <a href="/speakers#golor">Golo Roden</a></em>
    </li>
    <li>
        <strong>13:00: Lunch</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>14:00: Continuation of workshop</strong><br />
        <em>by <a href="/speakers#golor">Golo Roden</a></em>
    </li>
    <li>
        <strong>17:00: Close down of workshop</strong><br />
        <em>by all <a href="#">new node hackers</a></em>
    </li>
</ul>
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>

