<h1>Meetup: 24th September 2014</h1>

<p>
    On 24th September 2014 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 24th September 2014 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00 Microcontrollers and Node</strong><br />
         <em>by <a href="/speakers.html#patrickm">Patrick Mulder</a></em>
	<p>
Arduino is fun. Node is fun. Let's look at the intersection of both worlds.<p />
First, we must take a closer look at micro-controllers. They have different types of pins and signals, e.g. analog and digital.  To see how they are used, we can look at sensors, LEDs and joysticks.<p />
With a basic understanding of hardware, we tackle the question: How do concepts such as event-loop and npm apply to building physical experiences?  In this part of the talk, we take a look at the JavaScript libraries Johnny5 and CylonJS. We look at the role of Arduino's Firmate and an approach to cross-compile JavaScript to Lua, which Tessel enables with <a href="https://github.com/tessel/colony-compiler">Colony</a>. <a href="https://www.youtube.com/watch?v=FFFIxb0EKJo">Video</a>
	</p>
    </li>
    <li>
        <strong>20:45 Fullstack JavaScript: node.js + AngularJS + Couchbase</strong><br />
         <em>by <a href="/speakers.html#philippf">Philipp Fehre</a></em>
	<p>
Couchbase is a NoSQL document store with lightning fast access times, node.js is a web development platform built for creating blinding fast web applications using JavaScript; they both natively speak JSON. In this introduction, you'll learn how to build fast and scalable web applications leveraging the power of JSON inherent to node.js and Couchbase.
I will show in this talk how node.js and Couchbase are a match made in heaven for creating web services built on JSON APIs. Couchbase Server and the Couchbase Node.js SDK can help you build these APIs without the complexity and impedance mismatch of translating between the relational database and JavaScript objects.  When it comes to an interactive application, getting data on the user's screen fast can never be an afterthought so Philipp will focus on showing how the asynchronous, event driven programming model of node.js works with Couchbase to provide this near real-time update experience. <a href="https://www.youtube.com/watch?v=e2dcGwlfsYY">Video</a>
	</p>
    </li>
    <li>
        <strong>21:45 Native code in node.js: An introduction to Couchnode</strong><br />
        <em>by <a href="/speakers.html#philippf">Philipp Fehre</a></em>
        <p>
Over the last years node.js has evolved to be a great language to build web applications. The reason for this is not only that it is based on JavaScript which already is established around "the web" but also that it provides excellent facilities for extensions, not only via JavaScript but also integration of native C libraries.  Couchbase makes a lot of use of this fact making the Couchbase node.js SDK (Couchnode) a wrapper around the C library providing a node.js like API, but leveraging the power of a native C library underneat.  So how is this done? How does such a package look like? Let me show you how integration of C in node.js works and how to "read" a package like Couchnode.
        </p>
    </li>
    <li>
        <strong>23:00: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>

<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


