<h1>Meetup: 9th July 2014</h1>

<p>
    On 9th July 2014 we would like to invite you to our next community meetup of the Munich Node.JS User Group. Please sign up on <a href="http://www.meetup.com/Munich-Node-js-User-Group/events/191998972/">Meetup</a> to give us a hint how many nodehackers are comming!
</p>

<h2>What?</h2>
<p>
    On 9th July 2014 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
    </li>
    <li>
        <strong>20:00 Building JavaScript applications based on DDD, CQRS and EventSourcing</strong><br />
         <em>by <a href="/speakers.html#johannesb">Johannes Becker</a></em>
	<p>
So you may have heard of Domain-driven Design, Command Query Responsibility Segregation and Event Sourcing. I'll talk about why these software design patterns can make a difference when building applications and how they compare to traditional MVC+CRUD approaches. You'll see a demo of eventricjs.org, a framework that allows you to quickly start working with DDD, CQRS and ES using JavaScript. <a href="http://youtu.be/XSc7NPedAxw">Video</a>
	</p>
    </li>
    <li>
        <strong>20:45 Lightning talk: Pimping <a href="http://gruntjs.com/">Grunt.js</a> with I/O</strong><br />
         <em>by <a href="/speakers.html#davida">David Amend</a></em>
	<p>
		<a href="https://www.youtube.com/watch?v=sftMbpi5rWo">Video</a>
	</p>
    </li>
    <li>
        <strong>21:10 Lightning talk: <a href="https://github.com/peerigon/alamid-schema">alamid-schema</a></strong><br />
        <em>by <a href="/speakers.html#johannese">Michael Jaser</a></em>
        <p>
		Extendable mongoose-like schemas for node.js and the browser. <a href="https://www.youtube.com/watch?v=U5goZCiuh5U">Video</a>
        </p>
    </li>
    <li>
        <strong>21:20 Managing your front-end with <a href="https://github.com/webpack/webpack">webpack</a></strong><br />
        <em>by <a href="/speakers.html#johannese">Johannes Ewald</a></em>
        <p>
webpack revolutionizes the way we think about modules in the web. It consumes not only CommonJS-, AMD-, Component- and ES6-modules, but even HTML, CSS, LESS, SASS, CoffeeScript and various other web files and compiles them down into a single file which can be executed in the browser. It even provides a way of "requiring" static assets like images or fonts and helps you to store them efficiently in the application cache. In my talk I'm going to show why webpack is a great tool to write modular and maintainable front-end code while using all the great stuff you can find on npm, bower and GitHub. <a href="http://youtu.be/EBlUng3IU4E">Video</a>
        </p>
    </li>
    <li>
        <strong>21:50 Lightning talk: <a href="https://github.com/peerigon/alamid-api">alamid-api</a>: Abstracting different transports (http/websockets) and libraries to a unite them all<br />
         <em>by <a href="/speakers.html#davida">Michael Jaser</a></em>
	<p>
		<a href="https://www.youtube.com/watch?v=TeNRC0QYBdo">Video</a>
	</p>
	
    </li>
    <li>
        <strong>22:00: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>

<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


