<h1>Meetup: 13th August 2014 - BBQ.js</h1>

<p>
    On 13th August 2014 the <a href="http://munichjs.de/">Munich JavaScript User Group</a> and we would like to invite you to our next community meetup of the Munich Node.JS User Group.
</p>

<h2>What?</h2>
<p>
    On 13th August 2014 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a></em>
	<p>
The original plan, to have a BBQ on TNG's roof terrace, had to be canceled due to bad weather. We had beer and pizza and some spontaneous talks instead!<br/>
We will try again next year!
	</p>
    </li>
    <li>
        <strong>20:00 Lightning talk: Batch API</strong><br />
         <em>by <a href="/speakers.html#mariov">Mario Volke</a></em>
	<p>
Combining multiple API requests in a single HTTP request can improve application bootup and response times. This talk presents the design of a batch API component developed for ExpressJS on top of an existing REST API. <a href="https://www.youtube.com/watch?v=9k7oWolTx7o">Video</a>
	</p>
    </li>
    <li>
        <strong>20:20 Lightning talk: Socrates conference report</strong><br />
         <em>by <a href="/speakers.html#">Wolfram Kriesing, Christoph Neuroth</a></em>
	<p>
	</p>
    </li>
    <li>
        <strong>21:00 Lightning talk: JWT: JSON Web Token</strong><br />
        <em>by <a href="/speakers.html#johannese">Christian Ranz</a></em>
        <p>
JSON Web Token (JWT) currenty is an IETF draft. It defines a compact URL-safe token structure enabling the transfer of claims between two parties. A JWT can be digitally signed, MACed and/or encryped to prevent tempering. <a href="https://www.youtube.com/watch?v=eWUkxzyB1Rk">Video</a>
        </p>
    </li>
    <li>
        <strong>23:00: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>

<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>


