<h1>Meetup: 14st May 2014</h1>

<p>
    On <strong>Wednesday</strong> 14th May 2014 we would like to invite you to our next community meetup of the Munich Node.JS User Group.
    Please sign up on <a href="http://www.meetup.com/Munich-Node-js-User-Group/events/180740342/">Meetup</a> to give us a hint how many nodehackers are comming! This time we're limited to 50 node hackers.
</p>

<h2>What?</h2>
<p>
    On 14th May 2014 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Pizza</strong><br />
        <em>sponsored by <a href="http://www.tngtech.com/">TNG Technology Consulting</a> and <a href="http://valiton.com">Valiton</a></em>
    </li>
    <li>
        <strong>20:00: <a href="https://github.com/TNG/Dares">Dares</a> - Distributed heterogeneous data replication systems with node</strong><br />
        <em>by <a href="/speakers.html#florianr">Florian Rohm</a> and <a href="/speakers.html#Alexanderz">Alexander Zeilmann</a></em>
	<p>
    The need for robust data replication is indisputable in modern distributed systems. Ideally, the data replication schemes trade-off between availability and efficiency can be adjusted at run-time. One solution to this challenge are heterogeneous dynamic quorum-based data replication schemes. In this talk we give a short introduction to the theory underlying these data replication schemes. Subsequently, we present our Node.js library Dares, implementing this theory.
    Finally, we showcase a simple demo application in terms of a distributed backup system.</br><a href="http://youtu.be/Avq9nY_XXH8 ">Video</a>
	</p>
    </li>
    <li>
        <strong>21:00: <a href="http://atlasboard.bitbucket.org/">AtlasBoard</a> a flexible dashboard with node</strong><br />
        <em>by <a href="/speakers.html#christopherw">Christopher Wolf</a></em>
        <p>
The free AtlasBoard uses Node.js on the server side and plain JavaScript in the browser and provides a powerful framework, which allows easy programming of reusable widgets. These can be combined into a very flexible and stylish wallboard, to monitor project progress, server status, Twitter feeds and maybe the history of the MNUG?</br><a href="http://youtu.be/Kk6DYiV_jB8">Video</a>
        </p>
    </li>
    <li>
        <strong>22:00: Lightning talks</strong><br />
	<ul>
		<li><em>Felix Hammerl</em> from <a href="http://whiteout.io/">Whiteout.io</a> about <a href="http://emailjs.org/">email.js</a>. <a href="https://www.youtube.com/edit?o=U&video_id=ryKV0V3rSA0">Video</a></li>
		<li><em>David Amend</em> <a href="http://gruntjs.com/">Grunt.js</a> for the Enterprise. <a href="http://de.slideshare.net/DavidAm/grunt-js-for-the-enterprise">Slides</a></li>
        	<li><em>Christine Koppelt</em> about markdown, node & co</li>
	</ul>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & pizza from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong>Valiton BurdaBar <a href="http://www.hubert-burda-media.de/chameleon/outbox/public/7/Anfahrt_Muenchen_2013.pdf">marked with "D"</a></strong><br />
Arabellastr. 23<br />
81925 München<br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by U-Bahn: Arabellaplatz (U4)<br />
   by Car: There are parking areas available in the evening
</p>
