<h1>Meetup: 13th October 2014</h1>

<p>
    On 13th October 2014 we would like to invite you to our next community meetup of the Munich Node.JS User Group at <a href="http://Organize.me">Organize.me</a>! <strong>New Location!</strong></br>
</p>

<h2>What?</h2>
<p>
    On 13th October 2014 we have the following schedule:
</p>
<ul>
    <li>
        <strong>19:00: Beer & Fingerfood</strong><br />
        <em>sponsored by <a href="http://holidaycheck.de">HolidayCheck</a> & <a href="http://Organize.me">Organize.me</a></em>
    </li>
    <li>
        <strong>20:00: How Node.js beat SEO</strong><br />
        <em>by <a href="/speakers.html#simonj">Simon Jost</a></em>
	<p>
HolidayCheck developers love JavaScript. The SEO department not so much. Good thing Node.js came around to help us run web apps on the server. In this talk, Simon, front end developer at HolidayCheck will walk you through parts of our front-end build and show you how we solved the SEO dilemma (and a bunch of other problems by accident). <a href="http://jostsg.github.io/talk__node-seo/#intro">Slides</a> and <a href="https://www.youtube.com/watch?v=ZOw4OXNxwvA">video</a>.
	</p>
    </li>
    <li>
        <strong>21:00: node-crate: Node.js & BigData</strong><br />
        <em>by <a href="/speakers.html#stefant">Stefan Thies</a></em>
	<p>
This presentation provides 'lessons learned' from project implementations with various technologies like Elasticsearch or MongoDB and describes how using <a href="http://crate.io">Crate</a> data store solved the key issues. The second part introduces CRATE data store and 'node-crate' by examples for development and operation.</br>
About Crate: Crate is a new breed of database to serve today's mammoth data needs. Based on the familiar SQL syntax, Crate combines high availability, resiliency, and scalability in a distributed design that allows you to query mountains of data in realtime, not batches. We solve your data scaling problems and make administration a breeze. Easy to scale, simple to use. <a href="http://techblog.bigdata-analyst.de/2014/10/08/speaking-at-meetup-munich-node-user-group-13-10-2014/">Slides</a> and <a href="https://www.youtube.com/watch?v=t-rJxmh4mwQ">video</a>.
	</p>
    </li>
    <li>
        <strong>22:30: Close down of MNUG meetup</strong><br />
        <em>by all <a href="#">node hackers</a></em>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 8:00pm. Admission with beer & fingerfood from 7pm.
</p>

<h2>Where?</h2>
<p>
    <strong><a href="http://Organize.me">Organize.me</a></strong><br />
St.-Martin-Strasse 66<br/>
Building: Sunyard<br/>
München</br
<br />
3rd floor, door to the right
<br />
<br />
    <strong>We wish you a nice journey:</strong><br />
   by S-Bahn: St.-Martin-Strasse (S3, S7)<br />
</p>

