# Meetup: January 12, 2017

On January 12, 2017 we would like to invite you to our next community meetup of
the Munich Node.JS User Group.  Please sign up on
[Meetup](https://www.meetup.com/Munich-Node-js-User-Group/events/236587800/) to
give us a hint how many nodehackers are coming!

**Attention! We meet at a new location. Office of [Microsoft Munich](https://www.microsoft.com/de-de/aktionen/smart-workspace-in-muenchen-schwabing/default.aspx)**

### What?

On January 12, 2017 we have the following schedule:

*   **18:15: Door open**  
  
*   **18:30: Start with Beer & Food**  
    sponsored by [Microsoft](https://www.microsoft.com/de-de/aktionen/smart-workspace-in-muenchen-schwabing/default.aspx)

*   **19:15: Three things you can do with Node.js on Azure**
    by [Dariusz Parys](/speakers.html#dariuszp)
  
    Azure has a bunch of different services a Node developer can use. In this talk I'll pick three and hack'em to give you an idea what they are about and how to use them.
  
*   **19:45: Gulpify your shell scripts - One way to manage reoccurring tasks on dynamically changing objects**
    by [Markus Spanier](/speakers.html#markuss)

    Most of us have used shell scripts to automate and simplify reoccurring
    tasks. Though being a very simple approach, shell scripts often become more
    and more cumbersome with growing size. The problem gets even more complicated
    if the tasks we want to solve with shell scripts depend on dynamically changing
    objects. And, by the way, have we talked about testing yet? Have we always
    written tests for our shell scripts?
    We give an approach to solve those problems by using node.js scripts instead of shell scripts.
    In order to solve the problems, we divide our scripts into several small tasks
    that work on independently managed objects and handle their execution with
    gulp.js. That way, we have all the tools to write clean code and tests at hand
    and can also benefit from the vast amount of node.js scripts available.
  
*   **20:30: High-speed ES2015**
    by [Benedikt Meurer](/speakers.html#benediktm)

    ECMAScript 2015 is fully supported by all major JavaScript implementations
    nowadays, and most of them already support various upcoming features like
    async/await. Especially Node.js developers can already use most of the
    ES2015 features without a transpiler like Babel. In this talk we’ll look at
    the performance of modern language features in V8, how the V8 team is
    currently improving the performance of ES2015 and later features, and how
    this will affect Node.js developers in 2017.  

*   **21:45: Close down of MNUG meetup**  
    by all node hackers

### When?
 
Talks starting at 7:15pm. Admission with beer & pizza from 6:30pm.

### Where?

**Microsoft Deutschland GmbH, Geschäftsstelle München**
Walter-Gropius-Straße 5
80807 München

**We wish you a nice journey:**  
by U-Bahn: Nordfriedhof (U6)   
From there it is a five minute walk. Please use the entrance next to the highway.
</div>
